<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="footer.css" rel="stylesheet" type="text/css" \ />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="bigcontainer">
        <div class="container">
          <h5>AZIENDA</h5>
          <ul>
            <li><a href="#">Chi siamo</a></li>
            <li><a href="#">Opportunità di lavoro</a></li>
            <li><a href="#">For the Record</a></li>
          </ul>
        </div>
        <div class="container">
          <h5>COMMUNITY</h5>
          <ul>
            <li><a href="#">Per artisti</a></li>
            <li><a href="#">Sviluppatori</a></li>
            <li><a href="#">Pubblicità</a></li>
            <li><a href="#">Investitori</a></li>
            <li><a href="#">Venditori</a></li>
          </ul>
        </div>
        <div class="container">
          <h5>LINK UTILI</h5>
          <ul>
            <li><a href="#">Assistenza</a></li>
            <li><a href="#">App per cellulare gratuita</a></li>
            <li><a href="#">Diritti del consumatore</a></li>
          </ul>
        </div>
        <div class="container">
          <h5>PIANI SPOTIFY</h5>
          <ul>
            <li><a href="#">Premium Individual</a></li>
            <li><a href="#">Premium Duo</a></li>
            <li><a href="#">Premium Family</a></li>
            <li><a href="#">Premium Student</a></li>
            <li><a href="#">Spotify Free</a></li>
          </ul>
        </div>
      </div>
      <div class="links">
        <a href="">Informazioni legali</a>
        <a href="">Sicurezza e Centro sulla privacy</a>
        <a href="">Informativa sulla privacy</a>
        <a href="">Impostazioni cookie</a>
        <a href="">Info annunci</a>
        <a href="">Accessibilità</a>
      </div>
    </footer>
  </body>
</html>
