.second-page-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Colonna fissa a sinistra per la sidebar e colonna per il contenuto principale */
  grid-template-rows: 50px 1fr; /* Riga per la navbar e una per il contenuto principale */
  grid-template-areas:
    "navbar navbar"
    "sidebar main"; /* Definisce l'area della sidebar e quella principale */
  height: 100vh; /* Occupa tutta l'altezza della finestra */
  width: 100%;
}

.main__second-page {
  grid-area: main;
  margin-left: 180px;
  border-radius: 5px;
  height: calc(
    100vh - 50px
  ); /* Rimuove l'altezza della navbar dalla visualizzazione */
  overflow-y: auto;
}
.songs-second-page-container {
  grid-area: main;
  background-color: white;
  margin-left: 0;
  border-radius: 5px;
  height: calc(
    100vh - 50px
  ); /* Rimuove l'altezza della navbar dalla visualizzazione */
  overflow-y: auto;
}
.main__action-bar__container {
  background: linear-gradient(to bottom, #125034, #121212 20%);
}

.banner {
  grid-area: anteprima;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .second-page {
    gap: 0px;
    padding: 0px;
  }

  .second-page .navbar {
    background-color: #0d442b;
  }

  #header__album-page__info > p:nth-of-type(2) {
    height: 14px;
  }

  .main__second-page::-webkit-scrollbar {
    display: none;
  }

  #header__album-page {
    background: linear-gradient(to bottom, #19774d, #153527);
  }

  .actionbar-container {
    background: linear-gradient(#153527, #121212);
  }

  #albums_viral50 {
    background-color: #121212;
  }

  #header__album-page__info > p:nth-of-type(2) {
    display: block;
    overflow: visible;
    margin-bottom: 25px;
    line-height: 1.6;
  }

  #header__album-page {
    padding: 20px 16px 0 16px;
  }

  .flex.duration p {
    display: none;
  }

  #header__album-page__album-logo__container {
    width: clamp(144px, 40vw, 288px);
  }

  /* Media query per footer mobile*/
  .button-footer {
    padding: 0 24px 0 0;
    margin-top: 20px;
  }

  .footer_links {
    padding: 0;
  }

  .footer_links a {
    font-size: 14px;
  }

  .politica_cookie {
    display: none;
  }
}
