<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <button type="button" class="btn-logo">
      <i class="fa-brands fa-spotify"></i>
      <span class="popup-text">Spotify</span>
    </button>
    <br />

    <button type="button" class="btn-house">
      <i class="fa-solid fa-house"></i>
      <span class="popup-home">Home</span>
    </button>

    <br />
    <button type="button" class="btn-inbox">
      <i class="fa-solid fa-inbox"></i>
      <span class="popup-naviga">Naviga</span></button
    ><br />
    <button type="button" class="btn-iscriviti">Iscriviti</button><br />
    <button type="button" class="btn-accedi">Accedi</button><br />
    <button type="button" class="btn-plus">
      +
      <span class="popup-crea">Crea una playlist o una cartella</span></button
    ><br />
    <button type="button" class="btn-crea-playlist">Crea playlist</button><br />
    <button type="button" class="btn-sfoglia-podcast">Sfoglia i podcast</button
    ><br />
    <button type="button" class="btn-lingua">
      <i class="fa-solid fa-globe"></i>Italiano</button
    ><br />
    <button type="button" class="btn-play">
      <i class="fa-solid fa-play"></i></button
    ><br />
    <div class="social-buttons">
      <button type="button" class="btn-social">
        <i class="fa-brands fa-instagram"></i>
      </button>
      <button type="button" class="btn-social">
        <i class="fa-brands fa-twitter"></i>
      </button>
      <button type="button" class="btn-social">
        <i class="fa-brands fa-facebook"></i>
      </button>
    </div>

    <button type="button" class="btn-iscriviti-gratis">Iscriviti gratis</button
    ><br />

    <button type="button" class="btn-plus-border">
      +
      <span class="popup-salva">Salva in La tua libreria</span>
    </button>
  </body>
</html>
