<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <!--Bottone logo spotify-->
    <button type="button" class="btn-logo">
      <i class="fa-brands fa-spotify"></i>
      <span class="popup-text">Spotify</span>
    </button>
    <br />
    <!--Bottone home, da inserire nella sezione navbar-->
    <button type="button" class="btn-house">
      <i class="fa-solid fa-house"></i>
      <span class="popup-home">Home</span>
    </button>

    <br />
    <!--Bottone cerca, da inserire all'interno della barra di navigazione-->
    <button type="button" class="btn-cerca">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="popup-cerca">Cerca</span></button
    ><br />
    <!--Bottone naviga, da inseire nella barra di navigazione-->
    <button type="button" class="btn-inbox">
      <i class="fa-solid fa-inbox"></i>
      <span class="popup-naviga">Naviga</span></button
    ><br />
    <!--Bottone iscriviti, da posizionare nella navbar-->
    <button type="button" class="btn-iscriviti">Iscriviti</button><br />
    <!--Bottone accedi, da posizionare nella navbar-->
    <button type="button" class="btn-accedi">Accedi</button><br />
    <!--Bottone libreria, da posizionare nella sezione aside-->
    <button type="button" class="btn-libreria">
      <i class="fa-solid fa-bookmark"></i>La tua libreria
      <span class="popup-libreria">Comprimi La tua libreria</span></button
    ><br />
    <!--Bottone plus, da posizionare nella sezione aside-->
    <button type="button" class="btn-plus">
      +
      <span class="popup-crea">Crea una playlist o una cartella</span></button
    ><br />
    <!--Bottone crea playlist, da posizionare nella sezione aside-->
    <button type="button" class="btn-crea-playlist">Crea playlist</button><br />
    <!--Bottone sfoglia i podcast, da posizionare nella sezione aside-->
    <button type="button" class="btn-sfoglia-podcast">Sfoglia i podcast</button
    ><br />
    <!--Bottone lingua, da posizionare nella sezione aside-->
    <button type="button" class="btn-lingua">
      <i class="fa-solid fa-globe"></i>Italiano</button
    ><br />
    <!--Bottone play, da poszionare come effetto nelle card e nellas econda pagina-->
    <button type="button" class="btn-play">
      <i class="fa-solid fa-play"></i></button
    ><br />
    <!--Bottoni social, da posizionare nel footer-->
    <div class="social-buttons">
      <button type="button" class="btn-social">
        <i class="fa-brands fa-instagram"></i>
      </button>
      <button type="button" class="btn-social">
        <i class="fa-brands fa-twitter"></i>
      </button>
      <button type="button" class="btn-social">
        <i class="fa-brands fa-facebook"></i>
      </button>
    </div>
    <!--Bottone iscriviti gratis, da posizionare nel banner-->
    <button type="button" class="btn-iscriviti-gratis">Iscriviti gratis</button
    ><br />
    <!--Bottone plus, da posizionare nella seconda pagina-->
    <button type="button" class="btn-plus-border">
      +
      <span class="popup-salva">Salva in La tua libreria</span>
      <!--Bottone plus, da inserire nella seconda pagina nella sezione brani-->
    </button>
    <button type="button" class="btn-plus-border-small">
      +
      <span class="popup-salva-small"
        >Aggiungi a Brani che ti piacciono</span
      ></button
    ><br />
    <!--Bottone opzioni da inserire nella seconda pagina-->
    <button type="button" class="btn-opzioni">
      ...
      <span class="popup-opzioni"
        >Altre opzioni per Top 50 Globale</span
      ></button
    ><br />
    <!--Bottone elenco, da inserire nella seconda pagina-->
    <button type="button" class="btn-elenco">
      Elenco <i class="fa-solid fa-list"></i></button
    ><br />
  </body>
</html>
