/*caratteristiche del body per visualizzare i button*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
/*caratteristiche generali dei button*/
button {
  background-color: transparent;
  color: inherit;
  border: none;
  height: 32px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 9999px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

/*button che restano fermi al passaggio del mouse*/
button.btn-logo:hover,
.btn-cerca:hover,
.btn-libreria:hover,
.btn-plus:hover,
.btn-elenco:hover {
  transform: none;
}

button.btn-instagram:hover,
.btn-facebook:hover,
.btn-twitter:hover {
  transform: none;
  cursor: default;
}

svg {
  fill: white;
  height: 24px;
  width: 24px;
}

/*Button con sfondo bianco*/
.btn-accedi,
.btn-crea-playlist,
.btn-sfoglia-podcast,
.btn-iscriviti-gratis {
  background-color: white;
  color: #121212;
  padding: 8px 32px;
  font-weight: 700;
  width: 49.588;
}

.btn-accedi:hover,
.btn-crea-playlist:hover,
.btn-sfoglia-podcast:hover,
.btn-iscriviti-gratis:hover {
  background-color: #f0f0f0;
}

/*bottone play*/
.btn-play {
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn-play svg {
  width: 50%;
  height: 50%;
  fill: black;
}

.btn-play:hover {
  background-color: #23ee6a;
}

/*bottoni che diventano bianchi al passaggio del mouse*/
.btn-iscriviti {
  color: #b3b3b3;
}

.btn-iscriviti:hover {
  color: white;
}

.btn-inbox svg {
  fill: #b3b3b3;
}

.btn-inbox svg:hover {
  fill: white;
}

.btn-lingua,
.btn-libreria,
.btn-elenco {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #b3b3b3;
  background-color: transparent;
  color: #b3b3b3;
}

.btn-lingua:hover {
  color: white;
  border-color: white;
}

.btn-lingua svg {
  height: 20px;
  width: 20px;
  fill: #b3b3b3;
  transition: fill 0.3s ease;
}

.btn-lingua:hover svg {
  fill: white;
}

.btn-libreria,
.btn-elenco {
  border: none;
}

.btn-libreria svg,
.btn-elenco svg {
  fill: #b3b3b3;
}

.btn-libreria:hover,
.btn-elenco:hover {
  color: white;
}

.btn-libreria svg:hover,
.btn-elenco svg:hover {
  fill: white;
}

/*button tondi*/
.btn-house,
.btn-instagram,
.btn-twitter,
.btn-facebook {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn-instagram:hover,
.btn-twitter:hover,
.btn-facebook:hover {
  background-color: #b3b3b3;
}

.btn-plus {
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn-plus:hover {
  background-color: #b3b3b3;
}

.btn-plus-border,
.btn-plus-border-small {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 2px solid white;
}

.btn-plus-border {
  font-size: 25px;
}

.btn-plus-border-small {
  font-size: 20px; /* Dimensione più piccola per il testo */
  width: 20px; /* Bottone più piccolo */
  height: 20px; /* Bottone più piccolo */
  border: 0.5px solid white; /* Bordo più sottile */
}

.btn-opzioni {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

/* Stili generali per i popup */
.button {
  position: relative; /* Necessario per posizionare i popup relativamente al bottone */
  display: inline-block;
}

.button .popup-text,
.button .popup-home,
.button .popup-cerca,
.button .popup-naviga,
.button .popup-libreria,
.button .popup-crea,
.button .popup-salva,
.button .popup-salva-small,
.button .popup-opzioni {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 10;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button .popup-text {
  background-color: #fff;
  color: black;
}

/* Posizionamento sotto il bottone */
.button .popup-text,
.button .popup-home,
.button .popup-cerca,
.button .popup-naviga {
  top: 120%; /* Al di sopra del bottone */
  left: 50%; /* Centra il popup */
  transform: translateX(-50%); /* Centra rispetto al suo asse */
}

/*posizionamento sopra il bottone*/
.button .popup-libreria,
.button .popup-crea,
.button .popup-salva,
.button .popup-salva-small,
.button .popup-opzioni {
  bottom: 120%; /* Al di sopra del bottone */
  left: 50%; /* Centra il popup */
  transform: translateX(-50%); /* Centra rispetto al suo asse */
}
/* Visualizza il popup al passaggio del mouse */
.button:hover .popup-text,
.button:hover .popup-home,
.button:hover .popup-cerca,
.button:hover .popup-naviga,
.button:hover .popup-libreria,
.button:hover .popup-crea,
.button:hover .popup-salva,
.button:hover .popup-salva-small,
.button:hover .popup-opzioni {
  display: block;
  opacity: 1;
}
