html,
body {
  background-color: black;
}
/*bottone logo spotify, da posizionare nella nav a sinistra*/
.btn-logo {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.63);
  position: relative;
}
.popup-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  transition: opacity 0.3s ease;
}
.btn-logo:hover .popup-text {
  visibility: visible;
  opacity: 1;
}

/*bottone home, da posizionare nella nav a sinistra della barra di ricerca*/
.btn-house {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.63);
  transition: transform 0.2s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-house i {
  font-size: 20px;
  color: black;
}

.popup-home {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.63);
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  transition: opacity 0.3s ease;
}

.btn-house:hover .popup-home {
  visibility: visible;
  opacity: 1;
}

.btn-house:hover {
  transform: scale(1.1);
}

/*bottone naviga, da inserire nella barra di ricerca a destra*/
.btn-inbox {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: rgba(
    255,
    255,
    255,
    0.63
  ); /*inserire "none" in fase di montaggio*/
  transition: transform 0.2s ease-in-out;
}

.popup-naviga {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.63);
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  transition: opacity 0.3s ease;
}
.btn-inbox:hover .popup-naviga {
  visibility: visible;
  opacity: 1;
}

.btn-inbox:hover {
  color: white;
  transform: scale(1.1);
}

/*bottone iscriviti, da posizionare a destra della nav*/
.btn-iscriviti {
  height: 35px;
  width: 80px;
  border-radius: 15px;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.952);
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.btn-iscriviti:hover {
  color: white;
  transform: scale(1.1);
}

/*bottone accedi, da posizionare a destra della nav*/
.btn-accedi {
  height: 35px;
  width: 80px;
  border-radius: 15px;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  background: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.btn-accedi:hover {
  background-color: rgba(255, 255, 255, 0.895);
  transform: scale(1.1);
}

/*bottone plus da posizionare nella sezione aside*/
.btn-plus {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  transition: transform 0.2s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-crea {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.63);
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  overflow: hidden;
}

.btn-plus:hover .popup-crea {
  visibility: visible;
  opacity: 1;
}
.btn-plus:hover {
  background-color: rgba(255, 255, 255, 0.301);
}

/*bottone crea playlist, da posizionare nella sezione aside*/
.btn-crea-playlist {
  height: 30px;
  width: 120px;
  border-radius: 15px;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  background: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.btn-crea-playlist:hover {
  transform: scale(1.1);
}

/*bottone sfoglia i podcast, da posizionare nella sezione aside*/
.btn-sfoglia-podcast {
  height: 30px;
  width: 120px;
  border-radius: 15px;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  background: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn-sfoglia-podcast:hover {
  transform: scale(1.1);
}

/*bottone lingua, da inserire nella sezione aside*/
.btn-lingua {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  height: 25px;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 14px;
  border: 2px solid grey;
  cursor: pointer;
  background: none;
  color: white;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

.btn-lingua:hover {
  border: solid white;
  transform: scale(1.1);
}

/*bottone play, da inserire come effetto delle card e nella seconda pagina*/
.btn-play {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: #1db954;
  transition: transform 0.2s ease-in-out;
}

.btn-play:hover {
  background-color: rgb(46, 207, 103);
  transform: scale(1.1);
}

/*bottoni social da inserire nel footer*/

.social-buttons {
  display: flex;
  gap: 10px;
}

.btn-social {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-social:hover {
  background-color: rgba(255, 255, 255, 0.904);
}

/*bottone iscriviti gratis, da inserire nel banner in basso*/
.btn-iscriviti-gratis {
  height: 35px;
  width: 130px;
  border-radius: 15px;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  background: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn-iscriviti-gratis:hover {
  background-color: rgba(255, 255, 255, 0.895);
  transform: scale(1.1);
}

/*bottone plus seconda pagina*/

.btn-plus-border {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid grey;
  cursor: pointer;
  background: none;
  color: grey;
  transition: transform 0.2s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-salva {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

.btn-plus-border:hover .popup-salva {
  visibility: visible;
  opacity: 1;
}

.btn-plus-border:hover {
  color: white;
  border: solid white;
}
