html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #121212;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Colori */
  --primary-color: #1ed760; /* Verde */
  --background-color: #121212; /* Nero della schermata principale */
  --text-color: #ffffff; /* Testo principale */
  --secondary-text-color: #b3b3b3; /* Testo meno evidente */
  --border-color: #282828; /* Colore per bordi o divisioni */
  --background-tinted-base: hsla(0, 0%, 100%, 0.1); /*bianco bassa opacità*/
  --background-tinted-highlight: hsla(
    0,
    0%,
    100%,
    0.14
  ); /*bianco media opacità*/
  --background-tinted-press: hsla(
    0,
    0%,
    100%,
    0.21
  ); /*bianco maggiore opacità*/

  /* Font */
  --font-family: "Inter", sans-serif;

  /* Dimensioni */
  --base-padding: 16px;
  --base-margin: 16px;
  --base-font-size: 16px;
  --line-height: 1.6;
}

/*Caratteristiche titoli*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color); /*colore bianco*/
  font-weight: 700; /*grassetto*/
  margin: 0 0 var(--base-margin) 0; /*rimuove il margine sopra i titoli (0) e aggiunge un margine sotto*/
}

@font-face {
  font-family: "SpotifyMixUI";
  src: url("https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2")
    format("woff2");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SpotifyMixUI", Arial, sans-serif;
}
