<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="../homepage-card/index.css" />
    <link rel="stylesheet" href="../../skeleton/common.css" />
    <title></title>
  </head>
  <body>
    <div class="bodyContainer">
      <section class="sectionContainer">
        <div class="title">
          <h1 class="upperTitle">
            <a class="connection" href="########">Artisti più popolari</a>
          </h1>
          <span class="show">
            <a class="minorTitle" href="########">Mostra tutto</a>
          </span>
        </div>
        <!-- questo sarà il container delle card -->
        <div class="cardContainer">
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/geolier.jpg"
              alt="immagine di geolier"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">Geolier</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/lazza.jpg"
              alt="immagine di lazza"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">LAZZA</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/anna.jpg"
              alt="immagine di lazza"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">ANNA</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/cesare-cremonini.jpg"
              alt="immagine di cesare-cremonini"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">Cesare Cremonini</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/pinguini-tattici-nucleari.jpg"
              alt="immagine di pinguini-tattici-nucleari"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">Pinguini Tattici Nucleari</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/tony-effe.jpg"
              alt="immagine di tony-effe"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">Tony Effe</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/ghali.jpg"
              alt="immagine di ghali"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">GHALI</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/sfera-e-basta.jpeg"
              alt="immagine di sfera-e-basta"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">SFERA EBBASTA</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/fabri-fibra.jpg"
              alt="immagine di fabri-fibra"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">
              <a href="############">Fabri Fibra</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
        </div>
      </section>

      <section class="sectionContainer">
        <div class="title">
          <h1 class="upperTitle">
            <a class="connection" href="########">Album e singoli popolari</a>
          </h1>
          <span class="show">
            <a class="minorTitle" href="########">Mostra tutto</a>
          </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer">
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/vera-baddie.jpeg"
              alt="immagine album vera-baddie"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName"> VERA BADDIE </span>
            <span class="subTitle">anna</span>
          </div>

          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/locura.jpg"
              alt="immagine album locura"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">LOCURA</span>
            <span class="subTitle">LAZZA</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/going-hard-3.jpeg"
              alt="immagine album going going-hard-3"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">Going Hard3</span>
            <span class="subTitle">tony Boy</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/tutta-la-vita.jpeg"
              alt="immagine album anna"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">TUTTA VITA</span>
            <span class="subTitle">Olly,JVLI</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/dio-lo-sa.jpeg"
              alt="immagine album DIO LO SA"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">DIO LO SA</span>
            <span class="subTitle">Geolier</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/containers.jpeg"
              alt="immagine album containers"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">Containers</span>
            <span class="subTitle">Night Skinny</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/hello-world.jpeg"
              alt="immagine album hello world"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">Hello World</span>
            <span class="subTitle">Pinguini Tattici Nucleari</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/milano-angels.jpeg"
              alt="immagine album milano angels"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">Milano Angels</span>
            <span class="subTitle">Shiva</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/esci-dal-tunnel.jpeg"
              alt="immagine album esci dal tunnel"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="artistName">ESCI DAL TUNNEL</span>
            <span class="subTitle">Simba La Rue</span>
          </div>
        </div>
      </section>

      <section class="sectionContainer">
        <div class="title">
          <h1 class="upperTitle">
            <a class="connection" href="########"
              >Stazioni radio più popolari</a
            >
          </h1>
          <span class="show">
            <a class="minorTitle" href="########">Mostra tutto"></a>
          </span>
        </div>

        <!-- questo sarà il container delle card -->

        <div class="cardContainer">
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-bruno-mars.jpeg"
              alt="immagine radio bruno mars"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Katy Perry, One Direction, Ed Sheeran e..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-883.jpeg"
              alt="immagine radio 883"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Lunapop, Alex Britti, Negramaro e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-coldpaly.jpeg"
              alt="immagine radio coldplay"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Harry Styles, Maroon 5, Adele e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-the-weekend.jpeg"
              alt="immagine radio the weekend"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Doja Cat, SZA, Ariana Grande e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-pinguini-tattici-nucleari.jpeg"
              alt="immagine radio pinguini Tattici Nucleari"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Gazelle, Tananai, Cesare cremonini e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-marracash.jpeg"
              alt="immagine radio radio marracash"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Massimo Pericolo, Kid Yugi, Tedua e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-olly.jpeg"
              alt="immagine radio Olly"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Pinguini Tattici Nucleari, Bresh, Tananai e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-cesare-cremonini.jpeg"
              alt="immagine radio Cesare cremonini"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Gazelle, Lunapop, Elisa e molti altri</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/radio-geolier.jpeg"
              alt="immagine radio geolier"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Con Tedua, Kid Yugi, Night Skinny e molti altri</span
            >
          </div>
        </div>
      </section>

      <section class="sectionContainer">
        <div class="title">
          <h1 class="upperTitle">
            <a class="connection" href="########">Classifche in primo piano</a>
          </h1>
          <span class="show">
            <a class="minorTitle" href="########">Mostra tutto</a>
          </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer">
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/brani-preferiti-globale.jpg"
              alt="immagine brani preferiti globale"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Globale: il tuo aggionamento settimanal..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/brani-preferiti-usa.jpg"
              alt="immagine brani preferiti usa"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Stati UNiti: il tuo aggionamento settimanal..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/top-50.jpeg"
              alt="immagine brani top 50"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Globale: il tuo aggionamento quotidian..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/top-50-usa.jpeg"
              alt="immagine brani top 50 usa"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Stati uniti: il tuo aggiornamento quotidian..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/viral-50.jpeg"
              alt="immagine brani viral 50"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Globale: il tuo aggionamento quotidian..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/viral-50-usa.jpeg"
              alt="immagine brani viral 50 usa"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Stati uniti: il tuo aggiornamento quotidian..</span
            >
          </div>
        </div>
      </section>
      <section class="sectionContainer">
        <div class="title">
          <h1 class="upperTitle">
            <a class="connection" href="########">Playlist from our editors</a>
          </h1>
          <span class="show">
            <a class="minorTitle" href="########">Mostra tutto</a>
          </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer">
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/night-rain.jpeg"
              alt="immagine playlist night rain"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Sleep with sounds of pouring rain and occasion..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/acoustic-christmas.jpeg"
              alt="immagine playlist acoustic christmas"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle">Have yourself a little cozy christmas.</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/fall-aslpeep.jpeg"
              alt="immagine playlist fall asleep"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle">relaxing music and sounds for sleeping</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/a-merry-lofi-christmas.jpeg"
              alt="immagine playlist a merry lofi christmas"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle">have yourself a chill and lofi xmas</span>
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/sleep-covers.jpeg"
              alt="immagine playlist sleep covers"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >Instrumental piano version of famous songs to make..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/a-song-we-slept-to-in-2024.jpeg"
              alt="immagine playlist a song we slept to in 2024"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >the songs that got us to sleep thi year..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/guitar-for-sleep.jpeg"
              alt="immagine playlist guitar for sleep"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >get a great night's sleep with theese soft acoustic..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/rnb-x-present-best-song-of-2024.jpeg"
              alt="immagine playlist rnb best song 2024"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle"
              >editor's picks: The best R&B songs of 2024. Cover: mun..</span
            >
          </div>
          <div class="divCard">
            <img
              class="squareImg"
              src="../homepage-card/img-card/sleep-noise.jpeg"
              alt="immagine playlist sleep noise"
            />
            <div class="button">
              <button type="button" class="btn-play">
                <svg
                  data-encore-id="icon"
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  class="Svg-sc-ytk21e-0 bneLcE"
                >
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
            <span class="subTitle">Colored noise to help you sleep</span>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
