<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="../homepage-card/index.css" />
    <link rel="stylesheet" href="../../skeleton/common.css" />
    <title></title>
  </head>
  <body>
    <div class="bodyContainer">
      <section class="sectionContainer">
        <div class="title">
          <h1>
            <a href="########">Artisti più popolari</a>
          </h1>
          <span>
            <a href="########">Mostra tutto</a>
          </span>
        </div>
        <!-- questo sarà il container delle card -->
        <div class="cardContainer">
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/geolier.jpg"
              alt="immagine di geolier"
            />
            <span class="artistName">
              <a href="############">Geolier</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/geolier.jpg"
              alt="immagine di geolier"
            />
            <span class="artistName">
              <a href="############">Geolier</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
          <div class="divCard">
            <img
              class="roundImg"
              src="../homepage-card/img-card/geolier.jpg"
              alt="immagine di geolier"
            />
            <span class="artistName">
              <a href="############">Geolier</a>
            </span>
            <span class="subTitle">Artista</span>
          </div>
        </div>
      </section>
      <section class="sectionContainer">
        <div class="title">
          <h1><a href="########">Album e singoli popolari</a></h1>
          <span> <a href="########">Mostra tutto</a> </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer"></div>
      </section>
      <section class="sectionContainer">
        <div class="title">
          <h1><a href="########">Stazioni radio più popolari</a></h1>
          <span> <a href="########">Mostra tutto</a> </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer"></div>
      </section>
      <section class="sectionContainer">
        <div class="title">
          <h1><a href="########">Classifche in primo piano</a></h1>
          <span> <a href="########">Mostra tutto</a> </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer"></div>
      </section>
      <section class="sectionContainer">
        <div class="title">
          <h1><a href="########">Playlist from our editors</a></h1>
          <span> <a href="########">Mostra tutto</a> </span>
        </div>
        <!-- questo sarà il container delle card -->

        <div class="cardContainer"></div>
      </section>
    </div>
  </body>
</html>
