/*div nella sezione aside*/
.aside-playlist,
.aside-podcast {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  padding: 16px 20px;
  width: 300px;
  height: 110px;
}

.text {
  font-weight: bold;
}

/*footer della sezione aside*/

.footer2 {
  display: flex;
  background-color: #1f1f1f;
  height: 230px; /* Altezza del footer */
  width: 236px; /* Larghezza del footer */
  margin: 0; /* Rimuove i margini per allineare perfettamente il footer */
  padding: 0 24px;
  text-align: start;

  /* Posizionamento fisso in basso a sinistra */
  position: fixed;
  bottom: 0; /* Posiziona il footer in basso */
  left: 0; /* Posiziona il footer a sinistra */
}

.footer2 ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 15px;
  display: inline-block; /* Per centrare la lista */
}

.footer2 ul li {
  display: inline;
  margin: 0 10px;
}

.footer2 ul li a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}
.footer2 .policy {
  display: block;
  color: white;
}

.policy:hover {
  color: white;
  text-decoration: underline;
}

/* banner */
.footer-banner {
  width: 100%;
  background: linear-gradient(to right, #ff00ff, #0000ff); /*colore sfumato*/
  display: flex;
  justify-content: space-between; /* Testo a sinistra, pulsante a destra */
  align-items: center; /* Allineamento verticale centrale */
  padding: 10px 20px; /* Spazi interni */
  position: fixed; /* Posizionato in basso */
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombra elegante */
}

/* Stile del blocco di testo nel banner */
.footer-text {
  flex: 1; /* Occupa tutto lo spazio disponibile */
  max-width: 70%;
  color: white;
  font-family: sans-serif;
}

.footer-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
}

.footer-description {
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.4;
  font-size: 12px;
}
