/*div nella sezione aside*/
.aside-playlist,
.aside-podcast {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  padding: 16px 20px;
  width: 364px;
  height: 101.6px;
}

.text {
  font-weight: bold;
}

.text,
.description {
  display: flex;
  margin-top: inherit;
}

/*footer della sezione aside*/

.footer2 {
  display: flex;
  background-color: #1f1f1f;
  height: 236.8px;
  width: 420px;
  margin: 0;
  padding: 0;
  text-align: start;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer2 ul {
  list-style: none;
}

.footer2 ul li {
  display: inline-block;
  flex-wrap: wrap;
  margin-top: inherit;
  flex: 1;
}

.footer2 ul li a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}
.footer2 .policy {
  display: block;
  color: white;
}

.policy:hover {
  color: white;
  text-decoration: underline;
}

/* banner */
.footer-banner {
  width: 100%;
  background: linear-gradient(to right, #ff00ff, #0000ff); /*colore sfumato*/
  display: flex;
  justify-content: space-between; /* Testo a sinistra, pulsante a destra */
  align-items: center; /* Allineamento verticale centrale */
  padding: 10px 20px; /* Spazi interni */
  position: fixed; /* Posizionato in basso */
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombra elegante */
}

/* Stile del blocco di testo nel banner */
.footer-text {
  flex: 1; /* Occupa tutto lo spazio disponibile */
  max-width: 70%;
  color: white;
  font-family: sans-serif;
}

.footer-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
}

.footer-description {
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.4;
  font-size: 12px;
}
