<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/skeleton/common.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="aside">
      <section class="aside-playlist">
        <p class="text">Crea la tua prima playlist</p>
        <p>E' facile, ti aiuteremo</p>
      </section>
      <section class="aside-podcast">
        <p class="text">Cerca qualche podcast da seguire</p>
        <p>Ti aggiorneremo sui nuovi podcast</p>
      </section>
    </div>
    <footer class="footer2">
      <ul>
        <li><a href="#">Informazioni legali</a></li>
        <li><a href="#">Sicurezza e Centro sulla privacy</a></li>
        <li><a href="#">Informativa sulla privacy</a></li>
        <li><a href="#">Impostazioni cookie</a></li>
        <li><a href="#">Info e annunci</a></li>
        <li><a href="#">Accessibilità</a></li>
        <li><a href="#" class="policy">Politica sui cookie</a></li>
      </ul>
    </footer>
    <footer class="footer-banner">
      <div class="footer-text">
        <p class="footer-title">Anteprima di Spotify</p>
        <p class="footer-description">
          Iscriviti per ricevere brani e podcast illimitati con annunci
          pubblicitari occasionali. Non è necessaria alcuna carta di credito.
        </p>
      </div>
    </footer>
  </body>
</html>
