<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="aside-playlist">
      <p class="text">Crea la tua prima playlist</p>
      <p>E' facile, ti aiuteremo</p>
      <button type="button" class="btn-crea-playlist">Crea playlist</button>
    </div>
    <div class="aside-podcast">
      <p class="text">Cerca qualche podcast da seguire</p>
      <p>Ti aggiorneremo sui nuovi podcast</p>
      <button type="button" class="btn-sfoglia-podcast">
        Sfoglia i podcast
      </button>
    </div>
    <footer class="footer2">
      <ul>
        <li><a href="#">Informazioni legali</a></li>
        <li><a href="#">Sicurezza e Centro sulla privacy</a></li>
        <li><a href="#">Informativa sulla privacy </a></li>
        <li><a href="#">Impostazioni cookie</a></li>
        <li><a href="#">Info e annunci</a></li>
        <li><a href="#">Accessibilità</a></li>
        <li><a href="#" class="policy">Politica sui cookie</a></li>
      </ul>
      <button type="button" class="btn-lingua">
        <i class="fa-solid fa-globe"></i>Italiano
      </button>
    </footer>
    <footer class="footer-banner">
      <div class="footer-text">
        <p class="footer-title">Anteprima di Spotify</p>
        <p class="footer-description">
          Iscriviti per ricevere brani e podcast illimitati con annunci
          pubblicitari occasionali. Non è necessaria alcuna carta di credito.
        </p>
      </div>
      <button type="button" class="footer-btn">Iscriviti gratis</button>
    </footer>
  </body>
</html>
