<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../skeleton/common.css" />

    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="aside">
      <section class="aside-playlist">
        <span class="text">Crea la tua prima playlist</span>
        <span class="description">E' facile, ti aiuteremo</span>
      </section>
      <section class="aside-podcast">
        <span class="text">Cerca qualche podcast da seguire</span>
        <span class="description">Ti aggiorneremo sui nuovi episodi</span>
      </section>
    </div>
    <div class="left-sidebar-footer">
      <div class="footer_links">
        <a href="https://www.spotify.com/it/legal/">Informazioni legali</a>
        <a href="https://www.spotify.com/it/safetyandprivacy/"
          >Sicurezza e Centro sulla privacy</a
        >
        <a href="https://www.spotify.com/it/legal/privacy-policy/"
          >Informativa sulla privacy</a
        >
        <a href="#">Impostazioni cookie</a>
        <a href="https://www.spotify.com/it/legal/privacy-policy/#s3"
          >Info annunci</a
        >
        <a href="https://www.spotify.com/it/accessibility/">Accessibilità</a>
        <div class="politica_cookie">
          <a
            href="https://www.spotify.com/legal/cookies-policy/"
            class="cookie_policy"
            >Politica sui cookie</a
          >
        </div>
      </div>
    </div>
    <footer class="footer-banner">
      <div class="footer-text">
        <p class="footer-title">Anteprima di Spotify</p>
        <p class="footer-description">
          Iscriviti per ricevere brani e podcast illimitati con annunci
          pubblicitari occasionali. Non è necessaria alcuna carta di credito.
        </p>
      </div>
    </footer>
  </body>
</html>
