<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/skeleton/common.css" />
    <link rel="stylesheet" href="index.css" />
    <title>Premium Banner</title>
  </head>
  <body>
    <div class="premium-banner">
      <button class="button_close">
        <svg
          data-encore-id="icon"
          role="img"
          aria-hidden="true"
          viewBox="0 0 24 24"
          class="Svg-sc-ytk21e-0 bneLcE"
        >
          <path
            d="M3.293 3.293a1 1 0 0 1 1.414 0L12 10.586l7.293-7.293a1 1 0 1 1 1.414 1.414L13.414 12l7.293 7.293a1 1 0 0 1-1.414 1.414L12 13.414l-7.293 7.293a1 1 0 0 1-1.414-1.414L10.586 12 3.293 4.707a1 1 0 0 1 0-1.414z"
          ></path>
        </svg>
      </button>
      <div class="testo-sottotesto">
        <h2>Passa a Premium</h2>
        <p>
          Ascolta tutta la musica che vuoi senza pubblicità. Annulla quando
          vuoi.
        </p>
      </div>
      <button class="button_premium">Passa a Premium</button>
    </div>
  </body>
</html>
