/*Sezione aside*/

.aside {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #000000b5, #33333382);
  border-radius: 8px;
  min-width: 280px;
  max-width: 420px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  gap: 8px;
  flex-direction: column;
  padding: 0 0 8px 8px;
}

.aside .aside-cards {
  background: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/*footer della sezione aside*/
.left-sidebar-footer {
  margin-top: 440px;
}

.footer_links {
  margin-bottom: 3px;
}

.btn-lingua {
  margin-left: 10px;
}
/* banner */

/* Stile del blocco di testo nel banner */
.footer-text {
  margin-top: auto;
}

/*posizione dei button in header*/
.header {
  display: flex;
  align-items: center; /* Per allineare i pulsanti verticalmente al centro */
  gap: 150px; /* Imposta uno spazio orizzontale tra i pulsanti */
}

.footer-text {
  display: flex;
  flex-direction: column; /* Posiziona gli elementi in colonna */
  align-items: flex-start; /* Allinea il contenuto a sinistra */
}
