/*Sezione aside*/

.aside {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #000000b5, #33333382);
  border-radius: 8px;
  min-width: 280px;
  max-width: 420px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  gap: 8px;
  flex-direction: column;
  padding: 0 0 8px 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/*footer della sezione aside*/
.left-sidebar-footer {
  margin-top: 440px;
}

.footer_links {
  margin-bottom: 3px;
}

.btn-lingua {
  margin-left: 10px;
}
/* banner */
.footer-banner {
  width: 100%;
  background: linear-gradient(to right, #ff00ff, #0000ff); /*colore sfumato*/
  display: flex;
  justify-content: space-between; /* Testo a sinistra, pulsante a destra */
  align-items: center; /* Allineamento verticale centrale */
  padding: 0; /* Spazi interni */
  position: fixed; /* Posizionato in basso */

  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombra elegante */
}

/* Stile del blocco di testo nel banner */
.footer-text {
  flex: 1; /* Occupa tutto lo spazio disponibile */
  max-width: 70%;
  color: white;

  margin-top: auto;
}

.footer-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
}

.footer-description {
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.4;
  font-size: 12px;
}

/*posizione dei button in header*/
.header {
  display: flex;
  align-items: center; /* Per allineare i pulsanti verticalmente al centro */
  gap: 150px; /* Imposta uno spazio orizzontale tra i pulsanti */
}

.footer-text {
  display: flex;
  flex-direction: column; /* Posiziona gli elementi in colonna */
  align-items: flex-start; /* Allinea il contenuto a sinistra */
}
