<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="partecentro">
      <div id="CentroAlto">
        <p id="titoletto1">Artisti più popolari</p>
        <a href="_blank">Mostra tutto </a>
      </div>
      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/geolier.jpg" />
          </div>
          <p class="nomeArtista">Geolier</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
    </div>
    <div id="partecentro">
      <div id="CentroAlto">
        <p id="titoletto1">Album e singoli popolari</p>
        <a href="_blank">Mostra tutto </a>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/locura.jpg" />
          </div>
          <p class="nomeArtista">Geolier</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
    </div>
  </body>
</html>
