<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="partecentro">
      <div id="CentroAlto">
        <p id="titoletto1">Artisti più popolari</p>
        <a href="_blank">Mostra tutto </a>
      </div>
      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/geolier.jpg" />
          </div>
          <p class="nomeArtista">Geolier</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/lazza.jpg" />
          </div>
          <p class="nomeArtista">Lazza</p>
          <p class="categoria">Artista</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/anna.jpg" />
          </div>
          <p class="nomeArtista">Anna</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/cesare-cremonini.jpg" />
          </div>
          <p class="nomeArtista">Cesare Cremonini</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/pinguini-tattici-nucleari.jpg" />
          </div>
          <p class="nomeArtista">Pinguini Tattici Nucleari</p>
          <p class="categoria">Artista</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/fabri-fibra.jpg" />
          </div>
          <p class="nomeArtista">Fabri Fibra</p>
          <p class="categoria">Artista</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/tony-effe.jpg" />
          </div>
          <p class="nomeArtista">Tony Effe</p>
          <p class="categoria">Artista</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/ghali.jpg" />
          </div>
          <p class="nomeArtista">Ghali</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divArtista">
          <div class="immagineArtista">
            <img src="./img-card/sfera-e-basta.jpeg" />
          </div>
          <p class="nomeArtista">Sfera Ebbasta</p>
          <p class="categoria">Artista</p>
        </div>
      </div>
    </div>

    <div id="partecentro">
      <div id="CentroAlto">
        <p id="titoletto1">Album e singoli popolari</p>
        <a href="_blank">Mostra tutto </a>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/tutta-la-vita.jpeg" />
          </div>
          <p class="nomeArtista">TUTTA VITA</p>
          <p class="categoria">Olly.JVLI</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/containers.jpeg" />
          </div>
          <p class="nomeArtista">containers</p>
          <p class="categoria">Night Skinny</p>
        </div>
      </div>

      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/dio-lo-sa.jpeg" />
          </div>
          <p class="nomeArtista">DIO LO SA</p>
          <p class="categoria">Geolier</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/locura.jpg" />
          </div>
          <p class="nomeArtista">LOCURA</p>
          <p class="categoria">Lazza</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/milano-angels.jpeg" />
          </div>
          <p class="nomeArtista">Milano Angels</p>
          <p class="categoria">Shiva</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/going-hard-3.jpeg" />
          </div>
          <p class="nomeArtista">Going Hard3</p>
          <p class="categoria">Tony Boy</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/esci-dal-tunnel.jpeg" />
          </div>
          <p class="nomeArtista">ESCI DAL TUNNEL</p>
          <p class="categoria">Simba La Rue</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/hello-world.jpeg" />
          </div>
          <p class="nomeArtista">HELLO WORLD</p>
          <p class="categoria">Pinguini Tattici Nucleari</p>
        </div>
      </div>
      <div id="partecentro">
      <div id="CentroAlto">
        <p id="titoletto1">Stazioni radio più popolari</p>
        <a href="_blank">Mostra tutto </a>
      </div>
      <div id="divImg">
        <div class="divStazioni">
          <div class="immagineStazione">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="partecentro">
      <div id="CentroAlto">
        <p id="titoletto1">Classifiche in primo piano</p>
        <a href="_blank">Mostra tutto </a>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      <div id="divImg">
        <div class="divAlbum">
          <div class="immagineALbum">
            <img src="./img-card/vera-baddie.jpeg" />
          </div>
          <p class="nomeArtista">Vera Baddie</p>
          <p class="categoria">Anna</p>
        </div>
      </div>
      
      
      
      



















    </div>
  </body>
</html>
