<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="../../skeleton/common.css" />
    <title>Home page</title>
  </head>
  <body>
    <div class="bigContainer">
      <!-- card tonda -->
      <div class="divCard">
        <img
          class="roundImg"
          src="../homepage-card/img-card/geolier.jpg"
          alt="immagine di geolier"
        />
        <div class="button">
          <button type="button" class="btn-play">
            <svg
              data-encore-id="icon"
              role="img"
              aria-hidden="true"
              viewBox="0 0 24 24"
              class="Svg-sc-ytk21e-0 bneLcE"
            >
              <path
                d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
              ></path>
            </svg>
          </button>
        </div>
        <span class="artistName">
          <a href="############">Geolier</a>
        </span>
        <span class="subTitle">Artista</span>
      </div>

      <!-- card quadrata -->
      <div class="divCard">
        <img
          class="squareImg"
          src="../homepage-card/img-card/vera-baddie.jpeg"
          alt="immagine album anna"
        />
        <div class="button">
          <button type="button" class="btn-play">
            <svg
              data-encore-id="icon"
              role="img"
              aria-hidden="true"
              viewBox="0 0 24 24"
              class="Svg-sc-ytk21e-0 bneLcE"
            >
              <path
                d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
              ></path>
            </svg>
          </button>
        </div>
        <span class="artistName"> VERA BADDIE </span>
        <span class="subTitle">anna</span>
      </div>
    </div>
  </body>
</html>
